
<!DOCTYPE HTML>
<html>
<head>
    <title>{{ title }}</title>
 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
 
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>

<link rel="stylesheet" href="/css/mobiscroll-1.5.min.css" />
<script src="/javascript/mobiscroll-1.5.js"></script>

</head>
<body>


    <div data-role="page" id="patientsView"> 

      <div data-role="header" data-position="fixed" data-id="myheader"> 
          <h1>{{ title }}</h1>
        
        <div data-role="navbar">
          <ul>
            <li><a href="/myTasks" data-transition="fade" >My Tasks</a></li>
            <li><a href="#" class="ui-btn-active">My Patients</a></li>
            <li><a href="/patientDetails" data-transition="fade">Patient Details</a></li>
          </ul>
        </div>
      </div>

      <div data-role="content">
        <ul data-role="listview" data-split-theme="d" >
            
          <!-- Create task button-->
          <li data-icon="plus" data-theme="e">
            <a href="/createNewTask" data-transition="fade">
              <h3>Create Task</h3>
            </a>
          </li>

          {% for patient in patients %}
            <li data-icon="none" data-role="list-divider" role="heading" onclick="showPatientDetails('{{patient.key}}')">
            {{patient.name}}  {% if show_doctor %} {{ patient.doctor.name }} {% endif %}
            </li>
            {% for task in patient.pending_tasks %}
            <li>
              <a href="/taskDetails?key={{task.key}}" data-transition="fade">
                <img src="/img/{{task.priority}}.png"/>
                <h3>{{ task.name }}</h3>
                <p>{{ task.deadline }}</p>
              </a>              
            </li>
            {% endfor %}
          {% endfor %}


        </ul>
        
        <script>
            function showPatientDetails(key){
                window.location = '/patientDetails?patient=' + key;
            }
        </script>
        
        
      </div>
    </div>


</body>
</html>
