
<!DOCTYPE HTML>
<html>
<head>
<title>SOME TITLE</title>
 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
 
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>

<link rel="stylesheet" href="/css/mobiscroll-1.5.min.css" />
<script src="/javascript/mobiscroll-1.5.js"></script>

</head>
<body>


    <div data-role="page" id="patientDetails"> 

      <div data-role="header" data-position="fixed" data-id="myheader"> 
        <h1>Patient Details</h1>
        
        <div data-role="navbar">
          <ul>
            <li><a href="/myTasks" data-transition="fade" rel="external">My Tasks</a></li>
            <li><a href="/myPatients" data-transition="fade" rel="external">My Patients</a></li>
            <li><a href="#" class="ui-btn-active">Patient Details</a></li>
          </ul>
        </div>
      </div>

      <div data-role="content">
          <form id="patientDetailsForm" action="/patientDetails" method="post" data-transition="fade" data-ajax="false">

            <div data-role="fieldcontain">
              <!--<select name="patient" id="patient" data-native-menu="false">-->
              <select name="patient" id="patient" data-native-menu="false">
                
                <option>Select Patient...</option>
                {% for patient in patients %}
                  {% if this_patient.key == patient.key %}
                    <option value="{{patient.key}}" selected="true">{{patient.name}} ({{patient.room.name}} / {{patient.room.zone}})</option>
                  {% else %}
                    <option value="{{patient.key}}">{{patient.name}} ({{patient.room.name}} / {{patient.room.zone}})</option>
                  {% endif %}
                {% endfor %}
                
                
              </select>
            </div>

            <br/><br/>
            <!--<input type="submit" value="Search" data-icon="arrow-r" data-iconpos="right"/>-->

          <script>
          
             $("#patient").change(function(e){
                 $('#patientDetailsForm').submit();
             });
          
          </script>


          <form>
              
          <ul data-role="listview" data-split-theme="d" >
          
              <li data-icon="none" data-role="list-divider" role="heading">
                Open Tasks
              </li>
          
            {% for pending_task in this_patient.pending_tasks %}
              <li>
                <a href="/taskDetails?key={{pending_task.key}}" data-transition="fade">
                  <img src="/img/{{pending_task.priority}}.png"/>
                  <h3>{{ pending_task.name }}</h3>
                  <p>Due: {{ pending_task.deadline|date:"m/d P" }}</p>
                </a>              
              </li>
            {% endfor %}
          
              <li data-icon="none" data-role="list-divider" role="heading">
                Completed
              </li>
          
            {% for closed_task in this_patient.closed_tasks %}
              <li>
                <a href="/taskDetails?key={{closed_task.key}}" >
                  <img src="/img/{{closed_task.priority}}.png"/>
                  <h3>{{ closed_task.name }}</h3>
                  <p>Done: {{ closed_task.when_completed|date:"m/d P" }}</p>
                </a>
              </li>
            {% endfor %}
          </ul>
              
      </div>
    </div>


</body>
</html>