
<!DOCTYPE HTML>
<html>
<head>
<title>SOME TITLE</title>
 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
 
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
<script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>

<link rel="stylesheet" href="/css/mobiscroll-1.5.min.css" />
<script src="/javascript/mobiscroll-1.5.js"></script>

</head>
<body>


    <div data-role="page" id="tasksView"> 

      <div data-role="header" data-position="fixed" data-id="myheader"> 
        <h1>My Tasks</h1>
        <div data-role="navbar">
          <ul>
            <li><a href="#" class="ui-btn-active">My Tasks</a></li>
            <li><a href="/myPatients" data-transition="fade">My Patients</a></li>
            <li><a href="/patientDetails" data-transition="fade">Patient Details</a></li>
          </ul>
        </div>
      </div>

      <div data-role="content">
        <ul data-role="listview" data-split-theme="d" >
            

          <!-- Create task button-->
          <li data-icon="plus" data-theme="e">
            <a href="/createNewTask" data-transition="fade">
              <h3>Create Task</h3>
            </a>
          </li>

            <li data-icon="none" data-role="list-divider" role="heading">
              Open Tasks
            </li>
          
          
          {% for pending_task in doctor.pending_tasks %}
            <li>
              <a href="/taskDetails?key={{pending_task.key}}" data-transition="fade">
                <img src="/img/{{pending_task.priority}}.png"/>
                <h3>{{ pending_task.name }} ({{ pending_task.patient.name }})</h3>
                <p>Due: {{ pending_task.deadline|date:"m/d P"}}</p>
              </a>              
            </li>
          {% endfor %}

            <li data-icon="none" data-role="list-divider" role="heading">
              Completed
            </li>
            
          {% for closed_task in doctor.closed_tasks %}
            <li>
              <a href="/taskDetails?key={{closed_task.key}}" >
                <img src="/img/{{closed_task.priority}}.png"/>
                <h3>{{ closed_task.name }} ({{ closed_task.patient.name }})</h3>
                <p>Done: {{ closed_task.when_completed|date:"m/d P" }}</p>
              </a>
            </li>
          {% endfor %}




        </ul>
      </div>
    </div>


</body>
</html>